<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.4/themes/ui-lightness/jquery-ui.css">
<link rel="stylesheet" href="/assets/css/main.css">
<title>If You Had Invested</title>
</head>
<body>
  <br/>    <br/>    <br/>
  <div class="col-md-12 text-center"> <a href="https://ifihadinvested.saintmalik.me/"><button type="button" class="btn btn-dark">What if you had Invested?</button></a></div><br/>

  <form  class="px-4 py-3" method="POST" action="/hodl">    
      <h2>What if I had Hodl</h2><br/><br/>
      <div class="form-group">
        <label for="fname" class="form-label">Coin Name</label>
        <select class="form-control"  id="cnid" name="coinid">
          <option value="bitcoin">Bitcoin (BTC)</option>
          <option value="ethereum">Ethereum (ETH)</option>
          <option value="binancecoin">BNB (BNB)</option>
          <option value="ripple">Ripple (XRP)</option>
          <option value="cardano">Cardano (ADA)</option>
          <option value="solana">Solana (SOL)</option>
          <option value="terra-luna">Terra (LUNA)</option>
          <option value="avalanche-2">Avalanche (AVAX)</option>
          <option value="dogecoin">Dogecoin (DOGE)</option>
          <option value="shiba-inu">Shiba Inu (SHIB)</option>
          <option value="matic-network">Polygon (MATIC)</option>
          <option value="crypto-com-chain">Cronos (CRO)</option>
          <option value="cosmos">Cosmos (ATOM)</option>
          <option value="near">Near (NEAR)</option>
          <option value="the-sandbox">Sandbox (SAND)</option>
          <option value="decentraland">Decentraland (MANA)</option>
        </select>
      </div>
    <div class="form-group">
    <label for="fname" class="form-label">Coin Owned</label>
    <input type="text" value="0.03" class="form-control" id="coinowned" name="coinowned">
  </div>
  <div class="form-group">
    <label for="fname" class="form-label">$ USD - Your Expected Coin Price Soon</label>
    <input type="text" value="60000" class="form-control" id="fiat_expeectation" name="fiat_expeectation">
  </div>
  <div class="form-group">
    <label for="from" class="form-group">Date You Sold The Asset:</label>
    <input class="form-control" type="text" id="from" name="from">
  </div>
    <button class="btn btn-primary">Tell me what it would worth now!!</button>
  </form>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
  <script src="/assets/js/main.js"></script>
  <footer>
    <br/>    <br/>    <br/>    <br/>  
    <p class="text-center">Built by <a href="https://twitter.com/saintmalik_" target="_blank">SaintMalik ❤️</a></p>
  </footer>
</body>
</html>