<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.4/themes/ui-lightness/jquery-ui.css">
<link rel="stylesheet" href="/assets/css/main.css">
<title>If You Had Invested</title>
</head>
<body>
<br/>   <br/>
<div class="container"> 

  <h3>{{if eq .CheckResponse "No data found"}} Sorry Comrade, we can't find the data of  <span class="coinlook">{{ .CoinName}} ({{ .CoinSymbol}}) </span> on {{.SellingDate65}} </h3><br/> <br/>
    <div class="col-md-12 text-center"> <a href="/"><button type="button" class="btn btn-dark"><<< Go back and Try with another date</button></a></div><br/><img src="/assets/css/404.jpeg" class="img-fluid" />{{ else }}
<h2>If you had sold your {{printf "%.2f" .CoinOwned}} <span class="coinlook">{{.CoinSymbol}}</span> on {{.SellingDate}} at <span class="valuelook"><b>${{printf "%.f" .CoinValueOnSellDate}}</span></b>.</h2> <br/> <h3>You would have collected your <span class="valuelook"><b>${{printf "%.2f" .IfYouSold}}</span></b>.</h3><br/><h2> But if you had hodl and waited for <span class="coinlook">{{.CoinSymbol}}</span> to rise back to <span class="valuelook"><b>${{printf "%.f" .AmountYouFeelWorthInSomeDay}}</span></b>.</h2> <br/> <h3>You would have <span class="valuelook"><b>${{printf "%.2f" .IfHodl}}</span></b> in your portffolio by then.</h3>

<br/>
<h4>Now you have or would have lost a profit of <span class="profitlook"><b>${{printf "%.2f USD" .ProfitLoss}}</b> 😅</span></h4>

<br/>
<h4>So comrades!!!, Hodl on to your coins (NFA)<img src="/assets/css/icons8-walking.gif" height="40px"/><img src="/assets/css/icons8-walking.gif" height="40px"/><img src="/assets/css/icons8-walking.gif" height="40px"/></h4>
</div>
<br/>
<div class="text-center">
<a class="btn btn-default btn-lg showcase-btn btn-warning" href="/hodling" target="_blank" data-sr-id="3" style="visibility: visible; opacity: 1; transition: opacity 2s cubic-bezier(0.5, 0, 0, 1) 2s;">Go back</a> &nbsp  <a class="btn btn-default btn-lg showcase-btn btn-warning" href="https://ftx.com/#a=583725" target="_blank" data-sr-id="3" style="visibility: visible; opacity: 1; transition: opacity 2s cubic-bezier(0.5, 0, 0, 1) 2s;">Stack up some coin Today</a>
</div>
<br/> <br/>  <br/>  
  <footer>
    <p class="text-center">Built by <a href="https://twitter.com/saintmalik_" target="_blank">SaintMalik ❤️</a></p>
  </footer>
  {{end}}
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
<script src="/assets/js/main.js"></script>
</html>