<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.4/themes/ui-lightness/jquery-ui.css">
<link rel="stylesheet" href="/assets/css/main.css">
<title>If You Had Invested</title>
</head>
<body>
  <br/>    <br/>    <br/>
  <div class="col-md-12 text-center"> <a href="/hodling"><button type="button" class="btn btn-dark">What if you had Hodl?</button></a></div><br/>
  <form  class="px-4 py-3" method="GET" action="/worthnow">
    <div class="form-group">
      <h2>What if I had invested</h2><br/><br/>
    <label for="fname" class="form-label">$ USD</label>
    <input type="text" value="100" class="form-control" id="fiat_amount" name="fiat_amount">
  </div>
  <div class="form-group">
    <label for="fname" class="form-label">IN </label>
    <select class="form-control"  id="cnid" name="coinid">
      <option value="bitcoin">Bitcoin (BTC)</option>
      <option value="ethereum">Ethereum (ETH)</option>
      <option value="binancecoin">BNB (BNB)</option>
      <option value="ripple">Ripple (XRP)</option>
      <option value="cardano">Cardano (ADA)</option>
      <option value="solana">Solana (SOL)</option>
      <option value="terra-luna">Terra (LUNA)</option>
      <option value="avalanche-2">Avalanche (AVAX)</option>
      <option value="dogecoin">Dogecoin (DOGE)</option>
      <option value="shiba-inu">Shiba Inu (SHIB)</option>
      <option value="matic-network">Polygon (MATIC)</option>
      <option value="crypto-com-chain">Cronos (CRO)</option>
      <option value="cosmos">Cosmos (ATOM)</option>
      <option value="near">Near (NEAR)</option>
      <option value="the-sandbox">Sandbox (SAND)</option>
      <option value="decentraland">Decentraland (MANA)</option>
    </select>
  </div>
  <div class="form-group">
    <label for="from" class="form-group">ON:</label>
    <input class="form-control" type="text" id="from" name="from">
  </div>
    <button class="btn btn-primary">Tell me what it would worth now!!</button>
  </form>
  <br/>
  <br/>
  <div class="col-12 col-md-6 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-muted">Top Trending Cryptocurrencies in last 24 hours </h5>
        <div class="table-responsive">
            <table class="table table-hover table-sm table-borderless" style="margin-bottom:9px">
              <thead>
                <tr>
                  <th class="text-nowrap text-right">#</th>
                  <th>Name</th>
                  <th class="text-nowrap text-right">Symbol</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    <td class="text-nowrap text-right">{{ .TrendCoinRank0}}</td>
                    <td class="text-nowrap"><span class="icon-crypto icon-crypto-binance-coin"><img src=" {{ .TrendCoinThumb0}} " width="16" height="16"> <a href="https://www.coingecko.com/en/coins/{{.TrendCoinId0}}/">{{ .TrendCoinName0 }}</a></span></td>
                    <td class="text-nowrap text-right"><span class="profit"><i class="fas fa-caret-up" aria-hidden="true"></i> {{ .TrendCoinSymbol0}}</span></td>
                  </tr>
                  <tr>
                    <td class="text-nowrap text-right">{{ .TrendCoinRank1}}</td>
                    <td class="text-nowrap"><span class="icon-crypto icon-crypto-binance-coin"><img src="{{ .TrendCoinThumb1}}" width="16" height="16"> <a href="https://www.coingecko.com/en/coins/{{.TrendCoinId1}}/">{{ .TrendCoinName1 }}</a></span></td>
                    <td class="text-nowrap text-right"><span class="profit"><i class="fas fa-caret-up" aria-hidden="true"></i> {{ .TrendCoinSymbol1}}</span></td>
                  </tr>
                  <tr>
                    <td class="text-nowrap text-right">{{ .TrendCoinRank3}}</td>
                    <td class="text-nowrap"><span class="icon-crypto icon-crypto-binance-coin"><img src="{{ .TrendCoinThumb2}}" width="16" height="16"> <a href="https://www.coingecko.com/en/coins/{{.TrendCoinId2}}/">{{ .TrendCoinName2 }}</a></span></td>
                    <td class="text-nowrap text-right"><span class="profit"><i class="fas fa-caret-up" aria-hidden="true"></i> {{ .TrendCoinSymbol2}}</span></td>
                  </tr>
                  <tr>
                    <td class="text-nowrap text-right">{{ .TrendCoinRank3}}</td>
                    <td class="text-nowrap"><span class="icon-crypto icon-crypto-binance-coin"><img src="{{ .TrendCoinThumb3}}" width="16" height="16"> <a href="https://www.coingecko.com/en/coins/{{.TrendCoinId3}}/">{{ .TrendCoinName3 }}</a></span></td>
                    <td class="text-nowrap text-right"><span class="profit"><i class="fas fa-caret-up" aria-hidden="true"></i> {{ .TrendCoinSymbol3}}</span></td>
                  </tr>
                  <tr>
                    <td class="text-nowrap text-right">{{ .TrendCoinRank4}}</td>
                    <td class="text-nowrap"><span class="icon-crypto icon-crypto-binance-coin"><img src="{{ .TrendCoinThumb4}}" width="16" height="16"> <a href="https://www.coingecko.com/en/coins/{{.TrendCoinId4}}/">{{ .TrendCoinName4 }}</a></span></td>
                    <td class="text-nowrap text-right"><span class="profit"><i class="fas fa-caret-up" aria-hidden="true"></i> {{ .TrendCoinSymbol4}}</span></td>
                  </tr>
                  <tr>
                    <td class="text-nowrap text-right">{{ .TrendCoinRank5}}</td>
                    <td class="text-nowrap"><span class="icon-crypto icon-crypto-binance-coin"><img src="{{ .TrendCoinThumb5}}" width="16" height="16"> <a href="https://www.coingecko.com/en/coins/{{.TrendCoinId5}}/">{{ .TrendCoinName5 }}</a></span></td>
                    <td class="text-nowrap text-right"><span class="profit"><i class="fas fa-caret-up" aria-hidden="true"></i>{{ .TrendCoinSymbol5}}</span></td>
                  </tr>
              </tbody>
            </table>
          </div>
      </div><!-- /card-body -->
    </div><!-- /card -->
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
  <script src="/assets/js/main.js"></script>
  <footer>
    <br/>    <br/>    <br/>    <br/>
    <p class="text-center">Built by <a href="https://twitter.com/saintmalik_" target="_blank">SaintMalik ❤️</a></p>
  </footer>
</body>
</html>